{% extends 'base.html.twig' %}

{% block body %}
    <div class="reveal">
        <div class="slides">
            <section data-background-image="{{ asset('images/redox_01.png') }} "> </section>
            <section>Slide 2</section>
        </div>
    </div>
{% endblock %}
